<h1>Edit course {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="edit-form">

    <div class="input-field col s6">
        <input  id="title" name="title" type="text" class="validate"  required value="{{course.title}}">
        <label for="title" >Name of Course</label>
        <span class="helper-text" data-error="Add name"></span></span>
        
    </div>
    <div class="input-field col s6">
        <input  id="price" name="price" type="number" class="validate" required min="10" value="{{course.price}}">
        <label for="price" >Price</label>
        <span class="helper-text" data-error="Add price" ></span></span>
    </div>
    <div class="input-field col s6">
        <input  id="img" name="img" type="text" class="validate" required value="{{course.img}}">
        <label for="img"  >URL image</label>
        <span class="helper-text" data-error="Add URL for image"></span></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <input type="hidden" name="id" value="{{course._id}}">

    <button type="submit" class="btn btn-primary">Edit</button>
</form>


<form action="/courses/remove" method="POST">
<input type="hidden" name="_csrf" value="{{csrf}}">
<input type="hidden" name="id" value="{{course._id}}">
    <button class="btn red">Delete</button>
</form>
